h1,h2,h3,h4,h5,i,em,b{
  font-style: normal;
  font-weight: normal;
}
li{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
}
a:hover,a:active,a:visited,a:focus{
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
}
a img, :link img, :visited img {
  border:0px;
}
img{
  border:0 none;
  vertical-align:top;
  display: inline-block;
}
textarea{
  resize: none;
  -webkit-appearance: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  min-height: 62px;
}
input[type=text],input[type="number"]{
  outline: none;
  padding: 0 5px;
  border: 1px solid #ccc;
  width: 100%;
}
input[type="number"]{
  -moz-appearance:textfield;
}
input[type=file]{
  display: none
}
input[type=radio],input[type=checkbox]{
  display: inline-block;
  -webkit-width:14px;
}
button{
  border: 0 none;
}
table{
  border-spacing:unset;
  text-align: left;
}
.clearfix{
  *zoom:1;
}
.clearfix:after{
  content:".";
  display:block;
  visibility:hidden;
  height:0; clear:both;
}
body,html{
  height:100%;
  /*min-width: 1280px;*/
  background-color: #fff;
  overflow-x: auto;
  overflow-y: auto;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
  font-size: 14px;
  margin: 0 auto;
  color: #333;
}
html{
  height:100%;
  background-color: #f1f1f1;
}
*{
  box-sizing: border-box;
  word-break:break-all;
  margin:0;
  padding:0;
  outline: 0;
}


/**elementui 修改**/
.el-table{
  color:#333;
}
.el-table::before{
  height: 0;
}
.el-table thead{
  color: #333;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color:#ecf2f8;
}
.el-pager li,.el-pagination button,.el-pagination span{
  height: 30px ;
  line-height: 30px;
}
.el-pager li{
  font-weight: normal;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}
/*.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #e43879;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover:not(.active){
  color: #e43879;
}*/
.el-pager .more::before{
  line-height: 30px;
}
.el-pagination .btn-prev,.el-pagination .btn-next{
  padding: 0 10px !important;
}
.el-badge__content.is-fixed{
  border:0 none;
  transform: translateY(-50%) translateX(100%) scale(0.8);
}
/*.el-select .el-input .el-select__caret.is-reverse{
  color: #e43879;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: #e43879;
}*/
.el-input__inner{
  border-color: #ccc;
  height: 36px;
  line-height: 36px;
}
.el-select .el-input__inner:focus{
  border-color: #ccc;
}

.el-table td, .el-table th.is-leaf{
  border-bottom:1px solid #d7dee3;
}

.cs666 .el-checkbox-button__inner,.cs666 .el-checkbox-button:first-child .el-checkbox-button__inner,.cs666 .el-checkbox-button:last-child .el-checkbox-button__inner{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  height: 28px;
  padding:  0 12px;
  background-color: #ecf2f8;
  color:#666;
  border-radius: 14px;
  margin: 0 20px 20px 0;
  cursor: pointer;
  user-select: none;
  border: 0 none;
}
.cs666 .el-checkbox-button.is-checked .el-checkbox-button__inner,.cs666 .el-checkbox-button.is-checked:first-child .el-checkbox-button__inner,.cs666 .el-checkbox-button.is-checked:last-child .el-checkbox-button__inner{
  background-color: #e43879;
  color: #fff;
  border:0 none;
  box-shadow: 0 0 0 0;
}

.cs666 .el-radio-button,.cs666 .el-radio-button__inner{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  height: 28px;
  padding:  0 12px;
  background-color: #ecf2f8;
  color:#666;
  border-radius: 14px;
  cursor: pointer;
  user-select: none;
  border: 0 none;
}
.cs666 .el-radio-button{
  margin: 0 20px 20px 0;
  padding:0;
}
.cs666 .el-radio-button:first-child .el-radio-button__inner,.cs666 .el-radio-button:last-child .el-radio-button__inner{
  border: 0 none;
  border-radius: 14px;
}
