// 默认主题
$default-theme: (
        base-color: #2064CF,
        border-color: #D8DEE5,
        background-active: #4d83d9,
);



$theme-color:#2064CF;
$background-active:#4d83d9;
$success-color: #51AB44;
$warning-color: #ED923A;
$error-color: #F55955;

$border-color: #D8DEE5;
$second-font-color: #595959;
$third-font-color: #8C8C8C;
$tips-color:#BFBFBF;


