$white-color: #fff;
$border-color: #d7dee3;                             //边框颜色
$normal-border:solid 1px $border-color;             //通用边框样式
$style-red:#e43879;                                 //主题桃红色
$active-red:#E95F93;
$style-green:#00c185;                               //主题色绿

/*进入离开过渡动画*/
.myfade-enter-active {
    transition: opacity .2s;
}

.myfade-leave-active {

}

.myfade-enter, .myfade-leave-to {
    opacity: 0;
}
/**公用类样式**/
input:focus,textarea:focus{
    border-color:$style-red;
}
textarea{
    border-radius: 2px;
}
.centerFlex{
    display: flex;
    align-items: center;
}
.flex-1{
    flex:1
}

.normalbtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 70px;
    height: 30px;
    margin: 0 10px;
    background-color: #828db4;
    border-radius: 2px;
    color: $white-color;
    cursor: pointer;
    user-select: none;
    &.close{
        background-color: #ecf2f8;
    }
}
.Cardbody{
    display: inline-flex;
    padding:0 10px;
    height: 24px;
    margin: 0 4px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.greenCard{
    @extend .Cardbody;
    color: $style-green;
    border: 1px solid $style-green;
}
.grayCard{
    @extend .Cardbody;
    color: #828db4;
    border: 1px solid #828db4;
}
.orangeCard{
    @extend .Cardbody;
    color: #ff7b2c;
    border: 1px solid #ff7b2c;

}
.redCard{
    @extend .Cardbody;
    color: $style-red;
    border: 1px solid $style-red;
}
.mytag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 56px;
    height: 28px;
    padding:  0 12px;
    background-color: #ecf2f8;
    color:#666;
    border-radius: 14px;
    margin: 0 20px 20px 0;
    cursor: pointer;
    user-select: none;
}
.mytag.active{
    background-color: #e43879;
    color: $white-color;
}
.searchbox{
    width: 225px;
    font-size: 14px;
    height: 30px;
    background-color: rgba(130,141,180,0.2);
    border-radius: 15px;
    @extend .centerFlex;
    position: relative;
    .searchSvg{
        position: absolute;
        left: 10px;
        top: 6px;
        width: 18px;
        height: 18px;
    }
    .searchInput{
        position: absolute;
        left: 32px;
        top: 0;
        border: 0 none;
        height: 30px;
        background-color: rgba(130,141,180,0);
        width: 168px;
        color: #666;
    }
}
.currentArea{
    @extend .centerFlex;
    height: 32px;
    border-radius: 2px;
    justify-content: center;
    cursor: pointer;
    padding: 0 8px;
    margin: 0 6px;
    &.active{
        background: $style-red;
        color: $white-color;
    }
}
.firstCell{
    //iview表格 hover状态 第一个单元格的样式
    position: relative;
    .borderline{
        display: none;
        width: 3px;
        height: calc(100% + 24px);
        position: absolute;
        left: -10px;
        top: -12px;
        background-color: $style-red;
    }
}
/deep/.testTableRow:hover>td:first-child{
    border-left: 3px solid #e43879;
}
/deep/ .confirmDialog {
    .el-dialog__body {
        font-size: 16px;
        color: #333;
        padding: 15px 20px;
        .iconfont{
            color: #e6a23c;
            font-size: 20px;
            margin: 0 5px;
        }
    }
    .el-dialog__footer{
        .yes,.no{
            width: 54px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            border-radius: 4px;
            cursor: pointer;
        }
        .yes{
            background-color: $style-red;
            color: $white-color;
        }
        .no{
            border: 1px solid #999;
            color: #999;
            background: #fff;
        }
    }
}

/deep/ .myDialog {
    padding: 0 20px 20px;
    .el-dialog__header {
        padding: 0!important;
        .title {
            display: flex;
            height: 54px;
            align-items: center;
            font-size: 16px;
            color: #333;
            border-bottom: 1px solid #d7dee3;
            b {
                flex: 1;
            }
            i {
                flex: 0 0 30px;
                font-size: 20px;
                color: #ccc;
                cursor: pointer;
            }
        }
        .el-dialog__headerbtn {
            display: none;
        }
    }
    .el-dialog__body {
        margin: 20px 0;
        padding: 0;
        textarea {
            padding: 14px;
            width: 660px;
            height: 240px;
            background-color: #ffffff;
            border-radius: 2px;
            border: 1px solid #d7dee3;
        }

    }
    .el-dialog__footer {
        padding: 0;
        font-size: 14px;
        button {
            width: 54px;
            height: 28px;
            border-radius: 2px;
            background: #fff;
            cursor: pointer;
            &:nth-of-type(1) {
                margin-right: 20px;
                background-color: #ecf2f8;
            }
        }
    }
    .createform{
        overflow: hidden;
        li.list{
            overflow: hidden;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            label{
                width: 80px;
            }

        }
        .rowselect{
            width: 160px;
        }
        .inputext{
            width: 120px;
            height: 30px;
            border-radius: 3px;
        }
    }
}
//问题列表
.questionList{
    padding-bottom: 10px;
    .question{
        display: flex;
        margin-bottom: 10px;
        .num, .score{
            background-color: #ecf2f8;
            width: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        .txt{
            flex: 1;
            background-color:#f8fafc;
            em{
                display: block;
                padding: 10px;
                /deep/.under{
                    padding: 0 8px;
                    border-bottom: 1px solid #333;
                    &.red{
                        color: $style-red;
                    }
                    &.green{
                        color: $style-green;
                    }
                }
            }
        }
    }
    .singleAnswer{
        display: flex;
        margin-bottom: 10px;
        .word{
            width: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            em{
                width: 18px;
                height: 18px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border:1px solid #1c1f21;

            }
            &.curr em{
                color: #fff;
                background-color: $style-green;
                border:0;
            }
            &.error em{
                color: #fff;
                background-color: $style-red;
                border:0;
            }
            &.curr.error em{
                background-color: $style-green;
                color: $style-red;
                border: 1px solid $style-red;
            }
        }
        .txt{
            flex: 1;
            em{
                display: block;
                padding: 0 10px;
            }
        }
        input[type=text]{
            width: 80px;
        }
        &.right{
            justify-content: flex-end;
        }
    }
    .Answer{
        border: $normal-border;
        border-top: 0;
        margin-bottom: 15px;
        .list{
            padding: 10px;
            border-top: $normal-border;
            &.right{
                text-align: right;
                input{
                    width: 80px;
                }
            }
        }
    }
}
/**end**/

/**创建考试**/
.rowline{
    margin-bottom: 30px;
    @extend .centerFlex;
    .label{
        width: 120px;
        //text-align: right;
        padding-right: 30px;
    }
    .right{
        width: calc(100% - 120px);
        @extend .centerFlex;
        flex-wrap: wrap;
        .searchbox{
            input[type=text]{
                width: 230px;
                height: 32px;
                border-radius: 2px 0px 0px 2px;
                &:focus{
                    border-color: $style-red;
                    border-right-color: #ccc;
                }
            }
            button{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #828db4;
                border-radius: 0px 2px 2px 0px;
                color: #fff;
                height: 32px;
                width: 50px;
                cursor: pointer;
            }
        }
    }
}
.rowInput{
    height: 40px;
    border-radius: 4px;
}
.rowInput:focus{
    border-color: $style-red;
}
.slidesqure{
    width: 402px;
    height: 32px;
    border-radius: 16px;
    background-color: #ecf2f8;
    position: relative;
    margin-right: 30px;
    .redsqure{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 32px;
        border-radius: 16px;
        width: 33.3%;
        background: $style-red;
        transition: left .3s;
        opacity: 0;
        &.left{
            left: 0;
            opacity: 1;
        }
        &.center{
            left: 33.3%;
            opacity: 1;
        }
        &.right{
            left: 66.6%;
            opacity: 1;
        }
    }
    .hoversqure{
        position: absolute;
        left: 0;
        top:0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        div{
            flex: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: color .3s;
            cursor: pointer;
            &.active{
                color:$white-color;
            }
        }
    }
}

/**考试、试卷列表通用**/
.statecolum{
    .iconfont{
        font-size: 14px;
        height: 14px;
        width: 14px;
        line-height: 1;
        margin-right: 5px;
    }
    .icon-weishenhe-copy-copy,.weishenhe{
        color: #ff7b2c;
    }
    .icon-weiwancheng--copy,.weiwancheng{
        color: #ffac00;
    }
    .icon-xianshi_xuanzetianchong,.xianshi{
        color: #00c185;
    }
    .icon-shanchu-copy,.shanchu{
        color: #fa4f73;
    }
}
.test-item {
    margin-bottom: 20px;
    border-radius: 2px;
    & > ul {
        margin: 0;
    }
    .test-item-name {
        display: flex;
        overflow: hidden;
        & > div:first-of-type{
            flex: 0 0 50px;
            text-align: center;
            background-color: #ecf2f8;
            border-radius: 2px 0 0 2px;
            & > div {
                display: table;
                padding: 0;
                width: 100%;
                height: 100%;
                & > div {
                    display: table-cell;
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
        & > div:nth-of-type(2) {
            flex: 1;
            padding: 14px 28px 14px 14px;
            line-height: 20px;
            background-color: #f8fafc;
            border-radius: 0 2px 2px 0;
            input {
                width: 70px;
                border: none;
                font-size: 14px;
                border-bottom: 1px solid #333;
                background: #f8fafc;
            }
        }
    }
    .option-item {
        margin-top: 20px;
        padding: 0 16px;
        font-size: 0;
        span:nth-of-type(1) {
            display: inline-block;
            margin-right: 30px;
            width: 18px;
            height: 18px;
            line-height: 18px;
            font-size: 14px;
            text-align: center;
            border: 1px solid #1c1f21;
            border-radius: 2px;
            color: #1c1f21;
            &.active {
                color: #fff;
                background-color: #00c185;
                border-color: #00c185;
            }
        }
        span {
            font-size: 14px;
        }
    }
}
.test-item-name {
    display: flex;
    overflow: hidden;
    & > div:first-of-type {
        flex: 0 0 50px;
        text-align: center;
        background-color: #ecf2f8;
        border-radius: 2px 0 0 2px;
        & > div {
            display: table;
            padding: 0;
            width: 100%;
            height: 100%;
            & > div {
                display: table-cell;
                width: 100%;
                vertical-align: middle;
            }
        }
    }
    & > div:nth-of-type(2) {
        flex: 1;
        padding: 14px 28px 14px 14px;
        line-height: 20px;
        background-color: #f8fafc;
        border-radius: 0 2px 2px 0;
        input {
            width: 70px;
            border: none;
            font-size: 14px;
            border-bottom: 1px solid #333;
            background: #f8fafc;
        }
        span {
            em{
                position: relative;
                margin: 0 5px;
                padding-left: 30px;
                border-bottom: 1px solid #333;
                color: #0d8be7;
                min-width: 40px;
                i {
                    position: absolute;
                    top: -3px;
                    left: 6px;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #828db4;
                    border: 1px solid #828db4;
                    border-radius: 50%;
                }
            }
        }
    }
}